* {
  padding: 0px;
  margin: auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: none;
  grid-auto-rows: minmax(150px, auto);
  width: 900px;
  font-family: Helvetica;
  text-align: center;
}

h1 {
  grid-column:  1/8;
  grid-row: 1;
  text-align: left;
  margin: 90px 50px 10px 50px;
  border: 2px solid;
  border-radius: 4px;
  padding: 30px
}

.title {
  margin: auto;
  font-size: 55px;
}

.sideBar {
  grid-column:  5 / 8;
  grid-row: 2 / 5;
  border: 2px solid;
  border-radius: 4px;
  margin: 10px 50px 20px 20px;
}

#instruction {
  margin: 60px 10px 100px 10px;
  font-size: 25px;
}

.timer-container {
	color: #000;
	margin: 70px 0px 204px 0px;
}

.timer {
  font-size: 25px;
}

#replayBtn {
  border-radius: 10px;
  border: 5px solid;
  margin: 40px 12px 10px 12px;
  font-size: 22px;
  background-color: black;
  color: white;
  padding: 8px;
  cursor: pointer;
} 

#replayBtn:hover {
  background-color: white;
  color: black;
  border-color: white;
} 

#gameBoard {
  grid-column:  1 / 5;
  grid-row: 2 / 5;
  display: flex;
  flex-wrap: wrap;
  width: 565px;
  margin-top: 10px;
  margin-left: 50px;
  margin-bottom: 20px;
  cursor: pointer;
  align-items: center;
  border: 2px solid;
  border-radius: 4px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  color: black;
  font-size: 50px;
  border: 2px solid;
  margin: 5px;
  border-radius: 4px;
  border-color: black;
  background-color: none;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.cell:active {
  transform: scale(1);
  transition: transform 0.2s;
}

.cell.flip {
  transform: rotateY(180deg);
}

.front-side {
  font-size: 45px;
}

.front-side:hover {
  color: rgb(92, 82, 82);
  font-size: 45px;
}


.back-side,
.front-side {
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back-side {
  transform: rotateY(180deg);
  color: grey;
  font-size: 45px;
}

