* {
  padding: 0px;
  margin: auto;
  font-family: Silkscreen, Monaco, Helvetica;
}

.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: none;
  grid-auto-rows: minmax(150px, auto);
  width: 900px;
  text-align: center;
}

h1 {
  grid-column:  1/8;
  grid-row: 1;
  text-align: left;
  margin: 80px 50px 10px 50px;
  border: 6px dashed;
  border-radius: 7px;
  padding: 30px
}

.title {
  font-size: 50px;
}

.face {
  color: red;
}

.sideBar {
  grid-column:  5 / 8;
  grid-row: 2 / 5;
  border: 6px dashed;
  border-radius: 8px;
  margin: 10px 50px 80px 20px;
}

#instruction {
  margin: 0px 10px 105px 10px;
  font-size: 28px;
  text-align: left;
}

.timer-container {
	color: #000;
	margin: 70px 0px 204px 0px;
}

.timer {
  font-size: 28px;
}

#replayBtn {
  border-radius: 10px;
  border: 2px solid;
  margin: 65px 12px 25px 12px;
  font-size: 28px;
  background-color: black;
  color: white;
  padding: 8px;
  cursor: pointer;
} 

#replayBtn:hover {
  background-color: red;
  color: black;
  border-color: red;
} 

#gameBoard {
  grid-column:  1 / 5;
  grid-row: 2 / 5;
  display: flex;
  flex-wrap: wrap;
  width: 565px;
  margin: 10px 10px 80px 50px;
  cursor: pointer;
  align-items: center;
  border: 6px dashed;
  border-radius: 8px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 72px;
  color: white;
  border: 6px dashed;
  margin: 5px;
  border-radius: 8px;
  border-color: black;
  background-color: white;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.cell:active {
  transform: scale(1);
  transition: transform 0.3s;
}

.cell.flip {
  transform: rotateY(180deg);
  background-color: white;
  color: black;
}

.front-side {
  font-size: 45px;
}

.front-side:hover {
  color:red;
}

.back-side,
.front-side {
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back-side {
  transform: rotateY(180deg);
  color: black;
  font-size: 45px;
}

